#plusButton {
    background-color: plum;
  border: none;
  color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1;
  padding-right: 1;
  font-size: 35px;
cursor: pointer;
  margin: 8px 8px;
  }

  #plusButton {
    border-radius: 8px;
    position: fixed;
   right: 0;
   bottom: 0;
    }

    #plusButton:hover{
        transition: all 0.3s ease;
        font-size: 40px;
        background-color: rebeccapurple;
    }

    #dataTable{
        color: indigo;
        
      }
  
      #customtr:nth-child(2n+1){
        background-color: thistle;
      }
      #customtr :hover:not(.header) {
        background-color: plum;
      }
  
      .table-bordered td, .table-bordered th {
        border: 0px solid rgb(255, 255, 255);
    }

    .navbar-light{
      background-color: rebeccapurple;
  }
  
    #brand{
      color: white;
      font-size: 30px;
      padding: 0;
  
    }
  

    .custom-control-label::before {
      border: indigo solid 1px;
    }
    
    .btn-success{
      background-color: indigo;
      border-color: indigo;
    }
    .btn-success:hover{
      background-color: rgb(43, 2, 73);
      border-color: indigo;
    }
    
    
    #addNewVehicle{
      color: indigo;
    }
    .close{
      color: indigo;
    }
    
    .form-control {
      background-color:rgb(236, 209, 255);
      border: 1px solid #4b0082;
    }

    #inlineFormCustomSelectPref{
      color: indigo;
      background-color:rgb(236, 209, 255);
      border: 1px solid #4b0082;
    }

    .card-header{
      color: indigo;
    }

    .btn-primary{
      background-color: rgba(55, 216, 15, 0.973);
  }
  
  .btn-light {
    color: indigo;
    font-size: 20px;
      border-radius: 8px;
      position: fixed;
     right: 0;
     top: 0;
     margin: 8px;
      }
  
  .close{
      color: indigo;
  }
    
     